.nested-search-div {
    align-self: center;
    background: #ffffff;
    height: 35px;
    border-radius: 4px;
    padding: 10px;
    padding-bottom: 8px;
  }

.nested-search-input {
    position: relative;
    border: none;
    width: 90%;
    text-overflow: ellipsis;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: rgb(31, 28, 28);
    font-size: 16px;
    transition: nested-4s;
    line-height: 15px;
}

.nested-button-anchor {
    position: absolute;
    right: 5px;
    z-index: 1;
    color: black;
    height: 21px;
    border-radius: 50%;
    display: flex;
    cursor: pointer;
}
