/* TODO Add site wide styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font goes here */

}


body {
    background: #1c1626;
    font-family: Helvetica Neue,Roboto,Arial,Sans-Serif;
}

.main {
    min-width: 1900px;
}