.home {
    margin-top: 8%;
    text-align: center;
    display: grid;
grid-template-columns: repeat(7, 1fr);
grid-template-rows: repeat(10, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.home-search {
    grid-area: 1 / 3 / 2 / 6;
}

.home-board {
    text-align: center;
    grid-area: 2 / 3 / 11 / 6;
}
