:root {
    --primary: #3acbf7;
}

.btn {
    padding: 6px 12px;
    border-radius: 4px;
    outline: none;
	box-shadow:inset 0px 1px 0px -1px #bbdaf7;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
    background-color:#79bbff;
    border:1px solid #84bbf3;
    font-size: 1.6rem;
	border-radius:6px;
    cursor: pointer;
    transition: background .3s linear;
}


.btn:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
    transition: 250ms;
}

.btn--primary {
    background-color: var(--primary);
}

.btn--outline {
    background-color: transparent;
    color: #fff;
    padding: 8px 20px;
    border-radius: 4px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
}

.btn--medium {
    padding: 8px 20x;
    border-radius: 4px;
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
    margin-right: 10px;
}

.btn--large {
    padding: 12px 26x;
    border-radius: 4px;
    font-size: 20px;
    color: #fff;
}
