.solo-match {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
    background:  #063663;
    /* width: 40%; */
    height: 100px;
    border: 1px solid rgba(128, 128, 128, 0.55);
    padding: 5px;
    font-size: small;
    margin: 3px;
}

.queue-type {
    font-size: 12px;
    font-weight: 700;
}

.duration {
    font-size: 10px;
    font-weight: 700;
}

.match-creation {
    font-size: 10px;
    font-weight: 700;
    color: #bbbedb;
}
.victory {
    color:#08a6ff;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 700;
}

.defeat {
    margin-top: 10px;
    color:#ff4e50;
    font-size: 12px;
    font-weight: 700;
}
.solo-match-lost {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
    background: rgb(56, 36, 36);
    /* width: 40%; */
    font-size: small;
    height: 100px;
    border: 1px solid rgba(128, 128, 128, 0.55);
    padding: 5px;
    margin: 3px;
}

.champion-img {
    margin: auto;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.42);
    border: 1px solid #0D3656;
    border-radius: 50%;
    width: 50px;
    grid-area: 2 / 1 / 4 / 3;
}

.match-info {
    text-align: center;
    width: 100px;
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}

.player-info {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    width:300px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.build-info {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5px 5px;
    grid-template-areas:
      ". . . ."
      "item1 item2 item3 ."
      "item1 item2 item3 ward"
      "item4 item5 item6 ward"
      "item4 item5 item6 ."
      ". . . .";
}

.item1 { 
    grid-area: item1;
 }
.item2 { 
    grid-area: item2;
 }
.item3 { 
    grid-area: item3;
 }
.ward { 
    grid-area: ward;
 }
.item4 { 
    grid-area: item4;
 }
.item5 { 
    grid-area: item5;
 }
.item6 { 
    grid-area: item6;
 }

 .item1, .item2, .item3, .item4, .item5, .item6, .ward {
     border-radius: 20%;
     width: 22px;
     height: 22px;
 }

.teams {

    width: 200px;
    height: 90px;
    display: grid;
    justify-items: start;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "li1-0 li1-0 li2-0 li2-0"
      "li1-1 li1-1 li2-1 li2-1"
      "li1-2 li1-2 li2-2 li2-2"
      "li1-3 li1-3 li2-3 li2-3"
      "li1-4 li1-4 li2-4 li2-4";
}

.li1-0 {
    height: 18px;
    width: 95px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "img-0 name-0 name-0"
      "img-0 name-0 name-0";
    grid-area: li1-0;
  }
  .img-0 { 
    height: 17px;
    justify-self: end;
    align-self: center;
    padding-right: 4px;  
    grid-area: img-0; }
  .name-0 { 
    cursor: pointer;
    align-self: center;
    font-size: x-small;  
    grid-area: name-0; }
  .li1-1 {
      height: 18px;
      width: 95px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "img-1 name-1 name-1"
      "img-1 name-1 name-1";
    grid-area: li1-1;
  }
  .img-1 { 
    height: 17px;
    justify-self: end;
    align-self: center;
    padding-right: 4px;  
    grid-area: img-1; }
  .name-1 { 
    cursor: pointer;
    align-self: center;
    font-size: x-small;  
    grid-area: name-1; }
  .li1-2 {
      height: 18px;
      width: 95px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "img-2 name-2 name-2"
      "img-2 name-2 name-2";
    grid-area: li1-2;
  }
  .img-2 { 
    height: 17px;
    justify-self: end;
    align-self: center;
    padding-right: 4px;  
    grid-area: img-2; }
  .name-2 { 
    cursor: pointer;
    align-self: center;
    font-size: x-small;  
    grid-area: name-2; }
  .li1-3 {
      height: 18px;
      width: 95px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "img-3 name-3 name-3"
      "img-3 name-3 name-3";
    grid-area: li1-3;
  }
  .img-3 { 
    height: 17px;
    justify-self: end;
    align-self: center;
    padding-right: 4px;  
    grid-area: img-3; }
  .name-3 { 
    cursor: pointer;
    align-self: center;
    font-size: x-small;  
    grid-area: name-3; }
  .li1-4 {
      height: 18px;
      width: 95px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "img-4 name-4 name-4"
      "img-4 name-4 name-4";
    grid-area: li1-4;
  }
  .img-4 { 
    height: 17px;
    justify-self: end;
    align-self: center;
    padding-right: 4px;  
    grid-area: img-4; }
  .name-4 { 
    cursor: pointer;
    align-self: center;
    font-size: x-small;  
    grid-area: name-4; }
  .li2-0 {
      height: 18px;
      width: 95px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "img1-0 name1-0 name1-0"
      "img1-0 name1-0 name1-0";
    grid-area: li2-0;
  }
  .img1-0 {
    height: 17px;
    justify-self: end;
    align-self: center;
    padding-right: 4px;  
    grid-area: img1-0; }
  .name1-0 {
    cursor: pointer;
    align-self: center;
    font-size: x-small;  
    grid-area: name1-0; }
  .li2-1 {
      height: 18px;
      width: 95px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "img1-1 name1-1 name1-1"
      "img1-1 name1-1 name1-1";
    grid-area: li2-1;
  }
  .img1-1 {
    height: 17px;
    justify-self: end;
    align-self: center;
    padding-right: 4px;  
    grid-area: img1-1; }
  .name1-1 {
    cursor: pointer;
    align-self: center;
    font-size: x-small;  
    grid-area: name1-1; }
  .li2-2 {
      height: 18px;
      width: 95px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "img1-2 name1-2 name1-2"
      "img1-2 name1-2 name1-2";
    grid-area: li2-2;
  }
  .img1-2 {
    height: 17px;
    justify-self: end;
    align-self: center;
    padding-right: 4px;  
    grid-area: img1-2; }
  .name1-2 {
    cursor: pointer;
    align-self: center;
    font-size: x-small;  
    grid-area: name1-2; }
  .li2-3 {
      height: 18px;
      width: 95px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "img1-3 name1-3 name1-3"
      "img1-3 name1-3 name1-3";
    grid-area: li2-3;
  }
  .img1-3 {
    height: 17px;
    justify-self: end;
    align-self: center;
    padding-right: 4px;  
    grid-area: img1-3; }
  .name1-3 {
    cursor: pointer;
    align-self: center;
    font-size: x-small;  
    grid-area: name1-3; }
  .li2-4 {
      height: 18px;
      width: 95px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "img1-4 name1-4 name1-4"
      "img1-4 name1-4 name1-4";
    grid-area: li2-4;
  }
  .img1-4 {
    height: 17px;
    justify-self: end;
    align-self: center;
    padding-right: 4px;  
    grid-area: img1-4; }
  .name1-4 {
    cursor: pointer;
    align-self: center;
    font-size: x-small;  
    grid-area: name1-4; }

.team-imgs {
    width: 17px;
    height: 17px;
    border: 1px solid #0D3656;
    border-radius: 50%;
}

.divider {
    width: 1px;
    height: 80px;
    margin-left: 12px;
    margin-right: 12px;
    background-color: #808080;
}

.spells {
    margin-left: 7px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    grid-area: 2 / 3 / 4 / 4;
}

.spell-2, .spell-1 {
    width: 30px;
    padding: 3px;
    border-radius: 6px;
}

.player-runes {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    grid-area: 2 / 4 / 4 / 5;
}


.rune-keystone-img {
    width: 35px;
}

.rune-tree, .rune-keystone {
    background-color: rgba(0, 0, 0, 0.678);
    border-radius: 50%;
    padding: 2px;
    display: flex;
    margin-left: 9px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.rune-keystone {
    margin-bottom: 7px;
}
.rune-tree-img {
    width: 20px;
}

.player-stats {
    text-align: center;
    grid-area: 2 / 5 / 4 / 8;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.player-level {
    grid-area: 2 / 8 / 4 / 11;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 700;
}

.farm, .level {
    margin-bottom: 4px;
}
 
.cspm {
    color: #bbbedb;
}


.kda-math-text {
    font-weight: bold;
    font-size: smaller;
    color: #bbbedb;
}

.kda-blue {
    color: #08a6ff;
    font-weight: bold;
}

.kda-red {
    color: #ff4e50;
    font-weight: bold;
}

.kda-white {
    font-weight: bold;
}

.score {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 2px;
}