.sum-page {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(31, 1fr);
  gap: 4px 4px;
  grid-template-areas:
    ". . sum-info sum-info sum-header sum-header sum-header sum-header . ."
    ". . sum-info sum-info sum-header sum-header sum-header sum-header . ."
    ". . sum-info sum-info sum-header sum-header sum-header sum-header . ."
    ". . sum-stats sum-stats sum-matches sum-matches sum-matches sum-matches . ."
    ". . sum-stats sum-stats sum-matches sum-matches sum-matches sum-matches . ."
    ". . sum-stats sum-stats sum-matches sum-matches sum-matches sum-matches . ."
    ". . sum-stats sum-stats sum-matches sum-matches sum-matches sum-matches . ."
    ". . sum-stats sum-stats sum-matches sum-matches sum-matches sum-matches . ."
    ". . sum-stats sum-stats sum-matches sum-matches sum-matches sum-matches . ."
    ". . sum-stats sum-stats sum-matches sum-matches sum-matches sum-matches . ."
    ". . . . sum-matches sum-matches sum-matches sum-matches . ."
    ". . . . sum-matches sum-matches sum-matches sum-matches . ."
    ". . . . sum-matches sum-matches sum-matches sum-matches . ."
    ". . . . sum-matches sum-matches sum-matches sum-matches . ."
    ". . . . sum-matches sum-matches sum-matches sum-matches . ."
    ". . . . sum-matches sum-matches sum-matches sum-matches . ."
    ". . . . sum-matches sum-matches sum-matches sum-matches . ."
    ". . . . sum-matches sum-matches sum-matches sum-matches . ."
    ". . . . sum-matches sum-matches sum-matches sum-matches . ."
    ". . . . sum-matches sum-matches sum-matches sum-matches . ."
    ". . . . sum-matches sum-matches sum-matches sum-matches . ."
    ". . . . sum-matches sum-matches sum-matches sum-matches . ."
    ". . . . sum-matches sum-matches sum-matches sum-matches . ."
    ". . . . sum-matches sum-matches sum-matches sum-matches . ."
    ". . . . sum-matches sum-matches sum-matches sum-matches . ."
    ". . . . sum-matches sum-matches sum-matches sum-matches . ."
    ". . . . sum-matches sum-matches sum-matches sum-matches . ."
    ". . . . sum-matches sum-matches sum-matches sum-matches . ."
    ". . . . sum-matches sum-matches sum-matches sum-matches . ."
    ". . . . sum-matches sum-matches sum-matches sum-matches . ."
    ". . . . sum-matches sum-matches sum-matches sum-matches . .";
}

.sum-stats {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  gap: 0px 0px;
  grid-template-areas:
    "ranked-title"
    "soloq-rank"
    "flex-rank"
    "champions-title"
    "."
    ".";
  grid-area: sum-stats;
}

.ranked-title {
  grid-area: ranked-title;
}

.soloq-rank {
  grid-area: soloq-rank;
}

.flex-rank {
  grid-area: flex-rank;
}

.champions-title {
  grid-area: champions-title;
}

.sum-matches {
  grid-area: sum-matches;
}

.sum-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0px 0px;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    "sum-icon sum-name sum-name"
    "sum-icon update-btn update-info";
  grid-area: sum-info;
}

.sum-icon {
  grid-area: sum-icon;
  place-self: center;
}

.sum-name {
    font-size: 30px;
    margin-left: 5px;
    justify-self: start;
    margin-bottom: 5px;
    padding-top: 10px;
    align-self: end;
    text-overflow: ellipsis;
    font-weight: 700;
    grid-area: sum-name;
}

.update-btn {
  grid-area: update-btn;
  justify-self: start;
  align-self: start;
  margin-top: 5px;
  margin-left: 5px;
}

.update-info {
  grid-area: update-info;
}

.sum-header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0px 0px;
  grid-template-areas:
    "sum-search-title sum-search-title sum-page-search sum-page-search"
    "sum-matches-title sum-matches-title sum-matches-title sum-matches-title";
  grid-area: sum-header;
}

.sum-matches-title {
  grid-area: sum-matches-title;
  align-self: end;
  margin: 3px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  background:  #1b1b1b6e;
    height: 50px;
    border: 1px solid rgba(128, 128, 128, 0.55);
    padding: 5px;
}

.sum-page-search {
    align-self: end;
    justify-self: stretch;
  grid-area: sum-page-search;
}

.sum-search-title {
  grid-area: sum-search-title;
  align-self: end;
  justify-self: center;
  padding-bottom: 6px;
  font-size: 25px;
  font-weight: 700;
}

.no-matches {
  text-align: center;
  grid-area: 7 / 4 / 9 / 7;
}

ul {
  list-style-type: none;
}

body {
  color: whitesmoke;
}

.issue-main {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.issue-message {
  text-align: center;
  grid-area: 4 / 5 / 5 / 7;
}

.issue-search {
  grid-area: 6 / 5 / 7 / 7;
}

.title-text {
    margin-top: 10px;
}

.img-container {
    position: relative;
    left: -10px;
    top: -10px;
}
.img-container .top-img {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.bottom-img {
    width: 165px;
    margin-left: 9px;
    padding-top: 10px;
    border-radius: 50%;
}

.sum-level {
    position: absolute;
    bottom: -6px;
    right: 70px;
    z-index: 2;
}