.sum-page {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(32, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.sum-info {
    grid-area: 1 / 3 / 4 / 5;
}

.sum-page-search {
    grid-area: 1 / 5 / 4 / 8;
}

.no-matches {
    text-align: center;
    grid-area: 7 / 4 / 9 / 7;
}

.sum-stats {
    grid-area: 6 / 3 / 19 / 5;
}

.sum-matches {
    grid-area: 6 / 5 / 33 / 8;
}

ul {
    list-style-type: none;
}

body {
    color: whitesmoke;
}

.issue-main {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.issue-message {
    text-align: center;
    grid-area: 4 / 5 / 5 / 7;
}

.issue-search {
    grid-area: 6 / 5 / 7 / 7;
}
